.spacer {
  flex: 1 1 auto;
}

.page-container {
  /* width: 500px; */
  height: 91vh;
  margin: 0;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #5d326c, #350048); /*fiolet*/
}

.sidenav {
  padding: 20px;
  width: 20%;
}